.gameBoard {
    max-width: 280px;
    margin: 0 auto;
}

.gameBoard__inner {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}

@media (min-width: 700px) {
    .gameBoard {
        max-width: 500px;
    }
}
